extends layout

block content
  .container
    .row
      .col-md-
      .col-md-
        h1= title
        h2 Welcome to #{title}
        br
        br
        p Random terms of service:
        p blah blah blah blah blah blah blah
        p blah blah blah blah blah blah blah
        p blah blah blah blah blah blah blah
        p blah blah blah blah blah blah blah
        p blah blah blah blah blah blah blah
        p blah blah blah blah blah blah blah
      .col-md-
        br
        br
        br
        br
        br
        br
        br
        br
        h2 do you agree?
        a(class='button' href='/product') I agree